        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        .container{
            width: 100%;
            height: 70vh;
            position: relative;
        }
        .container img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        .cover{
            width: 100%;
            height: 100%;
            /* background-color: red; */
            position: absolute;
            top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .icons i{
            color: white;
            cursor: pointer;
        }
        .icons i:hover{
            color: orangered;
        }
        .text{
            width: 60%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
        }
        .text h1,p{
            color: white;
        }
        button{
            padding: 15px 30px;
            background-color: orangered;
            color: white;
            border: none;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        button:first-child{
            margin-right: 10px;
        }
        .text p{
            font-size: 1.5rem;
        }
        .card{
            width: 300px;
            height: 250px;
            background-color: yellow;
            border-radius: 20px;
            padding-bottom: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        .card2{
            width: 100%;
            height: 98%;
            background-color: rgb(255, 255, 255);
            border-radius: 20px;
        }
        .service-wrapper h2{
            text-align: center;
        }
        .service-wrapper{
            width: 100%;
            height: auto;
        }
        .card2{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .card p{
            color: black;
            text-align: center;
        }
        .card-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 90%;
            height: auto;
            margin: auto;
        }
        
        h2 span{
            color: orangered;
        }
        .about-us{
            width: 100%;
            height: auto;
            background-color: skyblue;
            padding: 30px 0;
            margin: 30px 0;
        }
        .about-us-wrapper{
            width: 92%;
            height: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            flex-wrap: wrap;
        }
        .text1{
            width: 48%;
            height: 100%;
        }
        .image{
            width: 48%;
            height: 100%;
        }
        .image img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
        .service-wrapper h2{
            margin: 20px 0;
        }
        .about-us h2{
            text-align: center;
            margin:5px 0;
        }
        .about-us h2 span{
            color: orangered;
        }
        .text1{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .text1 p{
            text-align: center;
            margin-bottom: 30px;
            color: rgb(0, 0, 0);
            font-size: 1.2rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        .text1 h2{
            font-size: 2rem;
            font-family: fantasy;
            letter-spacing: 1.2px;
        }
        .span{
            width: 100%;
            height: auto;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #span{
            display: block;
            width: 70px;
            background-color: #d21;
            height: 6px;
            border-radius: 5px;
        }
        footer{
            width: 100%;
            height: auto;
            padding: 10px;
            background-color: gray;
        }
        .footer-description{
            width: 100%;
            height: auto;
            border-bottom: 2px solid #e8e8ee;
            
        }
        .footer-text{
            width: 90%;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            padding: 20px;
            flex-wrap: wrap;
        }
        .footer-input,.footer-container,.footer-icons{
            width: 30%;
            height: auto;
        }
        .footer-input input{
            height: 45.5px;
            outline: none;
            border: none;
            background-color: #e8e8ee;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .footer-input button{
            background-color: #e8e8ee;
            color: black;
            border-radius: 0;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-left: -5px;
        }
        .footer-input input{
            padding: 10px;
        }
        .footer-input button i{
            cursor: pointer;
        }
        .footer-input button:hover{
            background-color: #d21;
            color: white;
        }
        .footer-container,.footer-icons{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .footer-icons{
            color: white;
        }
        .footer-input ul{
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .footer-input ul li{
            list-style: none;
        }
        .footer-container h2{
            color: skyblue;
            font-family: 'Courier New', Courier, monospace;
        }
@media screen and (max-width: 786px) {
    .card-wrapper{
        width: 100%;
    }
    .card{
        margin-bottom: 20px;
        width: 100%;
    }
    .text1{
        width: 100%;
    }
    .about-us-wrapper{
        height: auto;
    }
    .image{
        width: 100%;
        height: 400px;
        padding-top: 20px;
    }
    .text p{
        font-size: 0.9rem;
    }
    .text h1{
        font-size: 1.3rem;
    }
    .text{
        width: 80%;
    }
    .footer-input, .footer-container, .footer-icons {
        width: 100%;
    }
    .footer-input input{
        width: 77%;
    }
    .footer-container{
        margin: 30px 0;
    }
    .footer-text{
        width: 100%;
    }
}   
@media screen and (max-width: 400px){
        .banner-button-wrapper button{
        padding: 10px 20px;
    }
    .footer-input input{
        width: auto;
    }
}
@media screen and (max-width: 350px) {
        .banner-button-wrapper button{
        padding: 8px 10px;
    }
    .footer-input input{
        width: auto;
    }
}
@media screen and (max-width: 300px){
    .text h1,p{
        font-size: 0.9rem;
        text-align: center;
    }
    .icons i {
        color: white;
        cursor: pointer;
        font-size: 0.6rem;
    }
    .banner-button-wrapper button {
        padding: 8px 2px;
    }
    .image img{
        object-fit: cover;
    }   
    .footer-input input {
        width: 60%;
    }
    .footer-container h2 {
        color: skyblue;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1rem;
    }
    .footer-input ul {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0;
    }
}