*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: auto;
}
.wrapper{
    width: 100%;
    height: 70vh;
    position: relative;
}
.wrapper img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
}
.cover ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80px;
    margin: 0 auto;
    list-style: none;
    padding: 10px;

}
.cover a{
    color: white;
    text-decoration: none;
    font-family: fantasy;
}
.cover a:hover{
    color: orangered;
}
.text{
    width: 90%;
    height: 80%;
    margin: auto;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.text h2{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text p{
    font-size: 1.2rem;
    font-family: fantasy;
    letter-spacing: 2px;
    text-align: center;
    margin: 25px 0;
}
.text button{
    padding: 15px 30px;
    background-color: orangered;
    color: white;
    font-family: fantasy;
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}