*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.points{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}
.user-points,.computer-points{
    background-color: black;
    color:white;
    padding: 30px 20px;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 1.5rem;
}
.images,#computerImage{
    width: 50%;
    height: auto;
    margin: auto;
}
.images img,img{
    width: 150px;
    height: 150px;
    padding: 20px;
    background-color: maroon;
    margin: 20px 15px;
    border-radius: 20px;
    cursor: pointer;
}
#computerChoice{
    width: 160px;
    height: 160px;
    margin: 20px auto;
}
#computerChoice h3{
    font-size: 1.2rem;
    text-decoration: underline;
}